html, body {
    height: 100%;
}

#central-div {
    width: 100%;
    height: 50%;
    display: table;
}
#central-div > * {
    display: table-cell;
    vertical-align: middle;
}

span, p, b, h2 {
	font-family: Verdana;
}

body {
	background-color: #1a1a1b;
}

#author {
	color: #4fbcff;
}

span {
	color: #818384;
}

#comment {
	color: #D7DADC;
}

#subreddit, #title {
	color: #D7DADC;
}